/* 
  font-family: 'Montserrat', sans-serif;
  font-family: 'Playfair Display', serif; 
*/
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 1110px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

ul,
li,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.button {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.219em;
  letter-spacing: 0.05em;
  padding: 15px 30px;
  background: rgba(153, 134, 42, 1);
  display: block;
  height: fit-content;
  width: fit-content;
}

.title {
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1.5em;
  text-align: center;
  font-size: 35px;
}

.subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  color: white;
  text-align: center;
}

.table-menu-link-item a {
  color: white;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 1.5em;
  text-decoration: none;
}

/********************************* header  */

header {
  color: white;
  height: 100vh;
  padding: 30px 0 150px;
  box-sizing: border-box;
  position: relative;
  background: url("../img/bgc.jpg") center / cover no-repeat;
}

.header__address {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5em;
}

.header__menu {
  margin-top: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 11px 0 15px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  position: relative;
}

.header__item::after {
  display: block;
  position: absolute;
  content: "";
  width: 1px;
  background: white;
  height: 100%;
  top: 1%;
}

.header__item:nth-child(1)::after {
  display: none;
}

.header__info {
  display: flex;
  width: 415px;
  justify-content: space-between;
  position: absolute;
  bottom: 150px;
  left: 50%;
  margin-left: -207px;
}

/* header  */

/*************************************** info  */
.info {
  background: rgba(40, 40, 40, 1);
  padding: 100px 0 100px;
}

.info__content {
  border: 3px solid #c4c4c4;
  margin: 0 auto;
  padding: 60px 186px;
  text-align: center;
}

.info__text {
  margin: 80px 0 50px;
}

.info__title {
  position: relative;
}

.info__title::after {
  position: absolute;
  content: "";
  width: 160px;
  height: 1px;
  background: white;
  bottom: -40px;
  left: 50%;
  margin-left: -80px;
}
/* info  */
